* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input,
button {
  font-family: inherit;
}

.home {
  width: 40%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home input {
  margin: 4rem 0;
  padding: 1rem;
  font-size: 20px;
}

button {
  padding: 1rem 4rem;
  border: none;
  background: rgb(78, 107, 21);
  color: white;
  font-size: 18px;
}

.chat-room {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.chat-room h1 {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  height: 80vh;
  width: 100%;
  background: rgb(243, 241, 241);
  overflow-y: scroll;
}

.sender {
  display: flex;
  min-height: 10vh;
}

.sender input {
  width: 100%;
  padding: 1rem;
  font-size: 20px;
}

.sender button {
  padding: 1rem 4rem;
}

.chat-message {
  display: block;
  text-align: left;
  padding: 0.25rem 1rem;
}

.chat-message span {
  display: inline-block;
  padding: 1rem;
  background: white;
  border-radius: 5px;
}

.chat-message.current {
  text-align: right;
}
